{% load static %}

<!doctype html>
<html lang="ru">

	<head>
	
		<meta charset="utf-8">
		<title>Континуум: Восхождение</title>
		<link rel="icon" href="{% static 'icon.ico' %}" sizes="any">
		<link rel="stylesheet" href="{% static 'style.css' %}">
	
	</head>
	
	<body>
        
		<div class="layer">

            <div class="masterhead">

                <div class="blockhead">

                    <div class="itemhead">

                        <a href="home">

                            <img src="{% static 'logo_short.svg' %}" alt="">

                        </a>

                    </div>

                    <div class="itemhead">

                        <div class="menutext">

                            <a href="lore">Вселенная</a>
                            
                        </div>

                    </div>

                    <div class="itemhead">

                        <div class="menutext">

                            <a href="news">Новости</a>
                            
                        </div>

                    </div>

                </div>

                <div class="blockhead">

                    <div class="itemhead">

                        <a href="login">

                            <img src="{% static 'profile.svg' %}" alt="Вход">

                        </a>

                    </div>

                </div>

            </div>

            <div class="griditem" style="background-image: url({% static 'home/helpus.png' %});">

                {% get_static_prefix as STATIC_PREFIX %}
                {% for cardname in cardnames %}

                <div class="ingridfourth">

                    <div class="gridimage">
                        
                        <img src="{{ STATIC_PREFIX }}ascention/cards/images/{{ cardname }}.png" alt="{{ cardname }}">

                    </div>

                </div>

                {% endfor %}

            </div>

            <div class="masterbottom">

                <div class="blockbottom">

                    <div class="itemhead">

                        <a href="home">

                            <img src="{% static 'logo_short.svg' %}">

                        </a>

                    </div>

                    <div class="itemhead">

                        <a href="https://vk.com/kontinuum_official">

                            <img src="{% static 'vk.svg' %}">

                        </a>

                    </div>

                </div>

                <div class="itemhead">

                    <div class="menutext">

                        <a href="legal">Правовая информация</a>
                        
                    </div>

                </div>

            </div>

        </div>

	</body>

</html>