@font-face {
	font-family: 'Colus';
	src: url('fonts/Colus-Regular.woff2') format('woff2'), url('fonts/Colus-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Spectral';
	src: url('fonts/Spectral-Light.woff2') format('woff2'), url('fonts/Spectral-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

/* Анимация для переливания цветов */
@keyframes rainbow {
	0% { background-position: 0% 50%; }
	100% { background-position: 100% 50%; }
}

html { 
	font-size: 100%;
	font-family: "Spectral";
}

img {
	height: 100%;
}

body {
	background-color: rgba(255, 255, 255, 1);
	margin: 0px;
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	filter: drop-shadow(0.1em 0.1em 0.5em white);
	transition: 0.5s ease;
}

.layer {
	display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-height: 100vh;
}

.masterhead {
	background-color: rgba(0, 0, 0, 1);
	font-family: "Colus";
	color: white;

	height: 4em;
	padding-inline: 2em;
	display: flex;
    justify-content: space-between;
	position: sticky;
	top: 0;
	z-index: 2;
}

.blockhead {
	height: 100%;
	width: auto;
	display: flex;
    align-items: center;
}

.itemhead {
	height: 3em;
	padding-inline: 1em;
	padding-block: 0.5em;
	transition: 0.5s ease;
}

.menuhead {
	height: 100%;
	position: relative;
	display: inline-block;
}

.menublock {
    display: flex;
    background-color: black;
	width: 250%;
    position: absolute;
	left: -75%;

    flex-direction: column;
    align-items: center;

	opacity: 0;
	background-color: rgba(0, 0, 0, 0);
	transition: 0.5s ease;
	z-index: -1;
}

.menutext {
	font-size: 1.7em;
	width: 100%;
	height: 100%;

	display: flex;
	justify-content: center;
    align-items: center;
}

.menuhead:hover .menublock {
	opacity: 1;
	background-color: rgba(0, 0, 0, 1);
	color: white;
	transition: 0.5s ease;
	z-index: 1;
}

.contentitem {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;

	width: 100%;
	height: calc(100vh - 4em);
	
	font-family: "Spectral";
	color: white;
	background-color: rgb(32, 32, 32);
	font-size: 2em;

	display: flex;
    flex-direction: column;	
	z-index: 1;
}

.contentitem img {
	height: 4.5em;
	width: auto;
	filter: drop-shadow(4px 4px 16px black);
	margin-top: 40vh;
}

.context {
	width: auto;
	text-align: center;
	padding-inline: 2em;
	
	text-shadow: 0px 0px 10px black, 4px 4px 12px black, 4px 4px 14px black;
}

.contextL {
	width: auto;
	text-align: center;
	padding-inline: 2em;
	
	text-shadow: 0px 0px 10px black, 4px 4px 12px black, 4px 4px 14px black;
}

.contextXL {
	width: auto;

	font-family: 'Colus';
	font-size: 2em;
	text-align: center;
	text-shadow: 0px 0px 12px black;

	margin-top: 40vh;
}

.griditem {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;

	width: 100%;
	height: calc(100vh - 4em);
	
	font-family: "Spectral";
	color: white;
	background-color: rgb(32, 32, 32);
	font-size: 2em;

	display: flex;
    flex-direction: row;
    flex-wrap: wrap;

	z-index: 1;
}

.griditembulk {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;

	width: 100%;
	min-height: calc(100vh - 4em);
	
	font-family: "Spectral";
	color: white;
	background-color: rgb(32, 32, 32);
	font-size: 2em;

	display: flex;
    flex-direction: row;
    flex-wrap: wrap;

	z-index: 1;
}

.ingridbulk {
	width: calc(100%);

	background-color: rgba(0, 0, 0, 0.8);

	display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}

.ingridfull {
	width: calc(100%);
	height: calc(50%);

	background-color: rgba(0, 0, 0, 0.8);

	display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}

.ingriddouble {
	width: calc(100%);
	height: calc(100%);

	background-color: rgba(0, 0, 0, 0.8);

	display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}

.ingridhalf {
	width: calc(50%);
	height: calc(50%);

	background-color: rgba(0, 0, 0, 0.8);

	display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}

.ingridthird {
	width: calc(100% / 3);
	height: calc(50%);

	background-color: rgba(0, 0, 0, 0.8);

	display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}

.ingridfourth {
	width: calc(25%);
	height: calc(50%);

	background-color: rgba(0, 0, 0, 0.8);

	display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}

.ingridtwothird {
	width: calc(100% / 3 * 2);
	height: calc(50%);

	background-color: rgba(0, 0, 0, 0.8);

	display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}

.ingridhalfcolumn {
	width: calc(50%);
	height: calc(100%);

	background-color: rgba(0, 0, 0, 0.8);

	display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}

.gridtextbulk {
	width: auto;
	text-align: left;
	padding-inline: 2em;
	font-size: 0.75em;
	
	text-shadow: 0px 0px 10px black, 4px 4px 12px black, 4px 4px 14px black;
}

.gridtext {
	width: auto;
	text-align: center;
	padding-inline: 2em;
	font-size: 0.75em;
	
	text-shadow: 0px 0px 10px black, 4px 4px 12px black, 4px 4px 14px black;

	a {
		text-shadow: none;
		font-weight: bold;
		background: linear-gradient(
                90deg,
                #ffffff, /* Красный */
                #feffff, /* Оранжевый */
                #fdffff, /* Оранжевый */
                #fcffff, /* Оранжевый */
                #fbffff, /* Оранжевый */
                #faffff, /* Оранжевый */
                #f1e0ff, /* Жёлтый */
                #e2c0ff, /* Зелёный */
                #d4a0ff, /* Синий */
                #c580ff, /* Индиго */
                #d4a0ff, /* Синий */
                #e2c0ff, /* Зелёный */
                #f1e0ff, /* Жёлтый */
                #faffff, /* Оранжевый */
                #fbffff, /* Оранжевый */
                #fcffff, /* Оранжевый */
                #fdffff, /* Оранжевый */
                #feffff, /* Оранжевый */
                #ffffff,  /* Оранжевый */
                #feffff, /* Оранжевый */
                #fdffff, /* Оранжевый */
                #fcffff, /* Оранжевый */
                #fbffff, /* Оранжевый */
                #faffff, /* Оранжевый */
                #ffecd8, /* Оранжевый */
                #fff8b8, /* Оранжевый */
                #ffc489, /* Оранжевый */
                #ffb061, /* Оранжевый */
                #ffc489, /* Оранжевый */
                #fff8b8, /* Оранжевый */
                #ffecd8, /* Оранжевый */
                #faffff, /* Оранжевый */
                #fbffff, /* Оранжевый */
                #fcffff, /* Оранжевый */
                #fdffff, /* Оранжевый */
                #feffff, /* Оранжевый */
                #ffffff  /* Оранжевый */
            );
		background-size: 1000% 100%;
		-webkit-background-clip: text; /* Применяем градиент к тексту */
		background-clip: text;
		color: transparent; /* Делаем текст прозрачным, чтобы был виден градиент */
		animation: rainbow 8s linear infinite; /* Анимация */
	}
}

.gridimage {
	width: calc(95%);
    height: auto;

	display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;

	text-shadow: 0px 0px 10px black, 4px 4px 12px black, 4px 4px 14px black;

	img {
		max-height: 24em;
        min-height: 12em;
        max-width: calc(80%);
		filter: drop-shadow(0.1em 0.1em 0.5em black);
	}
}

.gridtextL {
	width: auto;
	text-align: center;
	padding-inline: 2em;
	font-size: 1em;
	font-weight: bold;
	
	text-shadow: 0px 0px 10px black, 4px 4px 12px black, 4px 4px 14px black;
}

.masterbottom {
	background-color: rgba(0, 0, 0, 1);
	font-family: "Colus";
	color: white;

	height: auto;
	padding-inline: 2em;
	display: flex;
    flex-direction: column;
	bottom: 0;
	z-index: 1;
    align-items: center;
}

.blockbottom {
	height: 100%;
	width: auto;
	display: flex;
    justify-content: space-between;
}